h1 {
    background-color: darkslategrey;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
} 
.searchcity {
    padding-left: 7px;
    padding-right: 10px;
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fas {
    cursor: pointer;
}
.fiveDayForecast {
    width: 100%;
    margin: 10px;
}
.newdate {
    background-color: darkslategrey;
    color: white;
    border: solid, black;
    border-width: 1px;
    padding: 4px;
    margin-top: 10px;
    margin: 10px;

}
/* .newicon {

}
.newtemp{

}
.newhumid{

} */