<div class="col-md-4">
  <div class="card">
    <div class="cardContent1">
      <h4 class="cardTitle">${internName}</h4>
    </div>
    <div class="cardContent2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p>ID: ${internID}</p>
        </li>
        <li class="list-group-item">
          <p>Email: ${internEmail}</p>
        </li>
        <li class="list-group-item">
          <p>School: ${internSchool}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
