<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Team Profile</h1>
    </header>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="cardContent1">
              <h4 class="cardTitle">${managerName}</h4>
            </div>
            <div class="cardContent2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p>ID: ${managerID}</p>
                </li>
                <li class="list-group-item">
                  <p>Email: ${managerEmail}</p>
                </li>
                <li class="list-group-item">
                  <p>Officer Number: ${managerOffice}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
