body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: blanchedalmond;
}
header {
  background-color: rgb(249, 166, 77);
  padding: 20px;
  text-align: center;
  color: black;
}
.cardContent1 {
  padding: 20px;
}
.cardTitle {
  font-size: 35px;
}
.cardContent2 {
  margin: 25px;
}
